.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px; /* Adjust based on layout needs */
    margin: 20px auto;
    overflow: hidden;
  }
  
  .carousel-image-container {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
  }
  
  .carousel-button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-button:nth-child(1) {
    left: 10px;
  }
  
  .carousel-button:nth-child(3) {
    right: 10px;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  