/* Base Styles */

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body settings */
body {
  font-family: 'Roboto', Arial, sans-serif;  /* Modern sans-serif font */
  line-height: 1.6;  /* Good line height for readability */
  color: #333;  /* Neutral dark color for text */
  background-color: #f9f9f9;  /* Light background color */
  overflow-x: hidden;  /* Prevent horizontal overflow */
  min-height: 100vh;

}



/* General anchor styles */
a {
  color: #007BFF;  /* Modern blue color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;  /* Hover effect for links */
}

/* Typography rules */
h2, h3, h4, h5, h6 {
  color: #222;  /* Darker color for headings */
  line-height: 1.2;
  margin-bottom: 20px;  /* Spacing for all headings */
}

p {
  margin-bottom: 1.5em;  /* Ensure space between paragraphs */
  font-size: 1.1em;  /* Slightly larger base font size for readability */
}